body {

}

.main {
    height: 667px;
    width: 375px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

header {
    font-family: sans-serif;
}

nav {
    font-family: sans-serif;
}

.link{

}

.text {

}

footer {

}

