body {
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

}

header {
    font-family: sans-serif;
    height: 100px;

}

nav {
    font-family: sans-serif;
    height: 20px;
}

.link{

}

.text {
    min-height: calc(100vh - 180px);
}

footer {
    background-color: aqua;
    width: 100%;
    height: 60px;
}

.photos{
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.photo{
    flex-grow: 1;
}